* {
    box-sizing: border-box;
}

body {
    --input-text-color: hsl(200, 15%, 8%);
    --placeholder-color: hsl(0, 0%, 52%);
    --text-color: hsl(200, 15%, 8%);
    --background-color: hsl(0, 0%, 98%);
    --element-color: hsl(0, 0%, 100%);
    margin: 0;
    font-family: 'nunito sans', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.dark {
    --input-text-color:hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 100%);
    --background-color: hsl(207, 26%, 17%);
    --element-color: hsl(209, 23%, 22%);
}

.header-content, main {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    box-shadow: 0 0 6px 2px rgba(204, 204, 204, 0.2);
    background-color: var(--element-color);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
}

main {
    padding-inline: 24px;
}

.mode {
    font-weight: 600;
}

.search-container {
    margin-block: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    max-width: 560px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 24px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 2px rgba(204, 204, 204, 0.2);
    color: var(--placeholder-color);
    background-color: var(--element-color);
}

.search-input {
    width: 100%;
    padding: 12px 0 12px 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    color: var(--input-text-color);
    background-color: var(--element-color);
}

.search-input::placeholder {
    color: var(--placeholder-color);
}

.dropdown-container {
    max-width: 220px;
    width: 100%;
    position: relative;
}

.dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 2px rgba(204, 204, 204, 0.2);
    cursor: pointer;
    background-color: var(--element-color);
}

.dropdown-aero {
    transition: transform 0.3s ease-in-out;
}

.dropdown-value {
    box-shadow: 0px 0px 8px 2px rgba(204, 204, 204, 0.2);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -236px;
    width: 100%;
    padding-block: 10px;
    border-radius: 4px;
    background-color: var(--element-color);
    transition: all 0.3s ease-in-out;
}

.dropdown-value a {
    text-decoration-line: none;
    color: inherit;
    padding-left: 24px;
    margin-block: 12px;
    display: block;
}

.show .dropdown-value {
    top: 50px;
    opacity: 1;
    pointer-events: auto;
}

.show .dropdown-aero {
    transform: rotate(180deg);
}

.country-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;
    flex-wrap: wrap;
}

.country-card {
    display: block;
    max-width: 312px;
    width: 100%;
    background-color: var(--element-color);
    overflow: hidden;
}

.flag-img-div {
    width: 100%;
    display: flex;
}

.flag-img {
    width: 100%;
}

.clickable {
    box-shadow: 0px 0px 8px 2px rgba(204, 204, 204, 0.2);
    border-radius: 4px;
    text-decoration-line: none;
    color: inherit;
}

.country-card-text {
    padding: 0 0 14px 24px;
}

.home, .mode {
    cursor: pointer;
}

@media (max-width: 850px) {
    .header-content h2 {
        font-size: 18px;
    }

    .header-content p {
        font-size: 14px;
    }

    .search-container {
        flex-direction: column;
        align-items: flex-start;
        margin-block: 36px;
        gap: 36px;
    }

    .country-container {
        justify-content: center;
    }
}